@font-face {
    font-family: Lato-Regular;
    src: url("assets/fonts/lato/Lato-Regular.ttf")
}

@font-face {
    font-family: Abel;
    src: url("assets/fonts/abel/Abel-Regular.ttf")
}

body {
    margin: 0;
}